/* Document-wide settings */

body {
    color:#1b2f01;
    font-family:"Open Sans"; font-size:14px;
    margin: 20px;
}

table {
  border-collapse: collapse; /* Merges adjacent cell borders into one */
  margin: 1em;
}
th, td {
  border: 1px solid black; /* Sets a thin 1-pixel solid border */
  padding: 2px;
}

/* Keep embedded object sizes under control
img, object, embed {max-width: 100%;}
*/

.imgLink:hover{opacity:0.8;}

/* Header-specific settings */

/* Header enclosed in a box. Top corners rounded. */
header {
    font-family:courier;
    text-align:center;
    padding:10px 20px 12px 20px;
    position:relative;
    box-shadow: 1px 1px 12px 2px #aaa;
    border-radius:12px 12px 0px 0px;
    background: lightblue;
}

.welcome {
    font-family:courier;
    font-size:.75in;
    margin-bottom:1px;
    margin-top:1px;
    /* background: lightgreen; */
}

.welcome p { margin-top: 10px; margin-bottom: 10px; }

.tab {margin-right:5em;}

[popover] {
  margin: 0;
  inset: unset;
  position: absolute;
}

/* Main body styles */

.page-content {
    margin-top: 0px;
    background:#ffffe5;
    padding: 10px;
    box-shadow: 1px 1px 12px 2px #aaa;
    border-radius:0px 0px 12px 12px;
}

.page-content p,li {
    max-width: 8in;
}

P.filters {
    padding-left: 4em;
    text-indent: -4em;
    max-width: 12in;
}

ul a{text-decoration:none;}
ul a:hover{text-decoration:underline;}

.col {
    float: left;
}

.codeWindow {
    margin: 1em;
    background: white;
    font-family: monospace;
    border-style: solid;
    border-color: #ccc;
    overflow: scroll;
    width: 80ch;
    height: 40ex;
    white-space: pre;
}

.copyIcon {
    visibility: hidden;
    cursor: pointer;
    margin-left: 1em;
    font-family: monospace;
    width: 80ch;
    text-align: right;
    position: relative;
}

.popupText {
  visibility: hidden;
}

.popupBox {
  width: 300px;
  font-weight: normal;
  background-color: white;
  color: black;
  text-align: start;
  border-style: solid;
  border-radius: 6px;
  box-shadow: 8px 8px 12px 2px #aaa;
}

.circleBtn {
  width: 2ex;
  height: 2ex;
  border-radius: 50%;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  background-color: white;
  color: blue;
  border: thin solid blue;
  cursor: pointer;
  padding: 0; /* Remove default button padding */
  padding-top: 2px;
}

.qmark {
  cursor: pointer;
  margin-left: 1ch;
  vertical-align: center;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  width: 2ex;
  height: 2ex;
  border-radius: 1.1ex;
  color: blue;
  background: white;
  border: thin solid blue;
  position: relative;
}

.hidden {
  display: none;
}

.drop-area {
  max-width: 5in;
  padding: 20px;
  border: 2px dashed #ccc;
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: white;
}
.drop-area.drag-over {
  border-color: #000;
}
